header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(72, 79, 42);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar ul li a {
    color: white;
}

.logo {
    color: white;
    font-weight: bold;
}

.toggle {
    transform: rotate(90deg);
    cursor: pointer;
    margin-left: 50px;
    color: white;
}

.Language {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(72, 79, 42);
}